{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "@typescript-eslint/quotes": ["error", "single"],
    "@typescript-eslint/ban-ts-ignore": "off",

    "arrow-parens": "off",
    "indent": "off",
    "max-lines-per-function": [
      "error",
      { "max": 150, "skipComments": true, "skipBlankLines": true }
    ],
    "max-len": [
      "error",
      {
        "code": 150,
        "ignoreUrls": true
      }
    ],
    "newline-per-chained-call": [
      1,
      {
        "ignoreChainWithDepth": 3
      }
    ],
    "no-confusing-arrow": "error",
    "no-mixed-operators": 2,
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error"]
      }
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "varsIgnorePattern": "[(models)]",
        "ignoreRestSiblings": false
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "object-curly-spacing": "off",
    "operator-linebreak": "off",
    "quotes": "off",
    "quotemark": [true, "single"],
    "semi": [2, "always"],
    "unicorn/no-abusive-eslint-disable": "off"
  }
}
